.hero {
  display: block;
  width: 80%;
  
  padding: 5px;
  margin: 50px auto;
  
  > .hero-title {
    font-size: 42px;
    font-weight: 800;
    margin: 10px 0;
  }
  
  > .hero-subtitle {
    font-size: 22px;
  }
}