.media {
  height: 60px;
  width: 100%;
  
  margin: 10px 0 0;
  
  > .img {
    height: 50px;
    width: 50px;
    
    margin-right: 10px;
    
    float: left;
    
    > img {
      height: 100%;
      width: 100%;
    }
  }
  
  > .media-content {
    display: flex;
    flex-direction: column;
    
    > .title {
      font-size: 22px;
      font-weight: 800;
    }
    
    > .subtitle {
      margin-top: 10px;
      
      font-size: 12px;
    }
  }
}