.navbar {
  height: 60px;
  padding: 10px;
  
  display: flex;
  align-items: center;
}

.navbar-item {
  padding: 15px;
  
  font-size: 22px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}

.has-dropdown {
  position: relative;
  display: inline-block;
}

.navbar-dropdown {
  display: none;
  position: absolute;
  top: 60px;
  
  flex-direction: column;
  
  text-align: center;
  z-index: 1;
  
  > .navbar-divider {
    height: 2px;
    width: 80%;
    
    border-width: 0;
    background-color: white;
  }
}

.has-dropdown:hover .navbar-dropdown {
  display: flex;
}

