@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

$sans-serif-stack: "Open Sans", "Helvetica Neue", sans-serif;
$serif-stack: "Roboto Slab", "Times New Roman", "Times", serif;

body {
  font-family: $sans-serif-stack;
}